In [50]:
import pandas as pd

In [ ]:
# 근로 환경 만족도도
data = pd.read_excel("./input/근로_환경_만족도_2011.xlsx")

# data

In [67]:
data = pd.read_excel("./input/근로_환경_만족도_2011.xlsx")
data_row = data.iloc[5:10].fillna("연령")
total_people = []
for i in range(len(data_row)):
    total_people.append(f"{data_row.iloc[i, 2]}")
data_row = data_row.rename(columns={"특성별(2)": "연령"})
data_row = data_row.rename(columns={
                           "Unnamed: 3": "매우만족", "Unnamed: 4": "만족", "Unnamed: 5": "미흡", "Unnamed: 6": "불만족"})
data_row.set_index("연령", inplace=True)
# print(total_people)
dissatisfaction_people1 = []
dissatisfaction_people2 = []
for i in range(len(data_row)):
    people = int(total_people[i])
    # dissatisfaction_people1.append(people*data_row["불만족"][i]/100)
    dissatisfaction_people2.append(int(people*data_row["불만족"][i]/100+0.5))

# print(dissatisfaction_people1)
print(dissatisfaction_people2)

data_row

[111, 153, 232, 284, 219]

C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\1276277444.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10].fillna("연령")
C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\1276277444.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dissatisfaction_people2.append(int(people*data_row["불만족"][i]/100+0.5))

       특성별(1)   2011  매우만족    만족    미흡  불만족
연령
20~29세     연령   7394   6.8  68.7  23.0  1.5
30~39세     연령  11784   6.9  70.3  21.5  1.3
40~49세     연령  13641   6.1  66.5  25.6  1.7
50~59세     연령  10511   5.5  63.6  28.2  2.7
60세 이상     연령   6254   3.9  59.5  33.1  3.5

In [53]:
data = pd.read_excel("./input/근로_환경_만족도_2011.xlsx")
data_row = data.iloc[5:10].fillna("연령")
data_row = data_row.rename(columns={"특성별(2)": "연령"})
data_row = data_row.rename(columns={
                           "Unnamed: 3": "매우만족", "Unnamed: 4": "만족", "Unnamed: 5": "미흡", "Unnamed: 6": "불만족"})
data_row.set_index("연령", inplace=True)
data_row = data_row.drop(columns=["특성별(1)"])
data_row

# print(data_row["불만족"][0])
# for i in range(len(data_row)):
#   data_row["불만족_비율"]=[(data_row["2011"]*data_row[i]/100)/data_row["2011"]*100]

C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\2381837290.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10].fillna("연령")

         2011  매우만족    만족    미흡  불만족
연령
20~29세   7394   6.8  68.7  23.0  1.5
30~39세  11784   6.9  70.3  21.5  1.3
40~49세  13641   6.1  66.5  25.6  1.7
50~59세  10511   5.5  63.6  28.2  2.7
60세 이상   6254   3.9  59.5  33.1  3.5

In [73]:
data = pd.read_excel("./input/근로_환경_만족도_2014.xlsx")
data_row = data.iloc[5:10].fillna("연령")
data_row=data_row.rename(columns={"특성별(2)":"연령"})
data_row=data_row.rename(columns={"2014.1":"매우만족","2014.2":"만족","2014.3":"미흡","2014.4":"불만족"})
data_row.set_index("연령", inplace=True)
data_row=data_row.drop(columns=["특성별(1)"])
data_row

c:\Users\dawoo\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\694656962.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10].fillna("연령")

         2014  매우만족    만족    미흡  불만족
연령
20~29세   6654   5.5  71.0  21.7  1.9
30~39세  10820   5.4  73.9  19.2  1.6
40~49세  12690   5.3  70.5  21.6  2.6
50~59세  11105   4.7  65.8  26.7  2.7
60세 이상   6912   4.6  61.2  30.3  4.0

In [72]:
data = pd.read_excel("./input/근로_환경_만족도_2017.xlsx")
data_row = data.iloc[5:10].fillna("연령")
data_row=data_row.rename(columns={"특성별(2)":"연령"})
data_row=data_row.rename(columns={"2017.1":"매우만족","2017.2":"만족","2017.3":"미흡","2017.4":"불만족","2017.5":"기타"})
data_row.set_index("연령", inplace=True)
data_row=data_row.drop(columns=["특성별(1)"])
data_row

c:\Users\dawoo\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\1175230920.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10].fillna("연령")

         2017  매우만족    만족    미흡  불만족   기타
연령
20~29세   7002   6.6  73.8  16.7  2.8  0.1
30~39세  10578   4.8  76.8  15.9  2.4  0.1
40~49세  12323   4.0  74.8  18.8  2.2  0.2
50~59세  11704   4.0  70.0  23.2  2.8  0.1
60세 이상   8182   2.9  66.1  27.3  3.6  0.1

In [69]:
data = pd.read_excel("./input/근로_환경_만족도_2020.xlsx")
data_row = data.iloc[5:10,:8].fillna("연령")
data_row=data_row.rename(columns={"특성별(2)":"연령"})
data_row=data_row.rename(columns={"2020.1":"매우만족","2020.2":"만족","2020.3":"미흡","2020.4":"불만족","2020.5":"기타"})
data_row.set_index("연령", inplace=True)
data_row=data_row.drop(columns=["특성별(1)"])
data_row

c:\Users\dawoo\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\2665688444.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10,:8].fillna("연령")

         2020  매우만족    만족    미흡  불만족   기타
연령
20~29세   6776   8.7  76.0  13.4  1.3  0.7
30~39세   9843   9.4  77.3  12.0  0.9  0.3
40~49세  11817   7.7  75.7  15.0  1.1  0.5
50~59세  11882   5.7  73.9  18.1  1.6  0.7
60세 이상   9906   5.4  72.8  20.0  1.5  0.3

In [71]:
data = pd.read_excel("./input/근로_환경_만족도_2023.xlsx")
data_row = data.iloc[5:10,[0,1,2,3,4,5,6,9]].fillna("연령")
data_row=data_row.rename(columns={"특성별(2)":"연령"})
data_row=data_row.rename(columns={"Unnamed: 3":"매우만족","Unnamed: 4":"만족","Unnamed: 5":"미흡","Unnamed: 6":"불만족","Unnamed: 9":"기타"})
data_row.set_index("연령", inplace=True)
data_row=data_row.drop(columns=["특성별(1)"])
data_row

C:\Users\dawoo\AppData\Local\Temp\ipykernel_31800\1416251.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_row = data.iloc[5:10,[0,1,2,3,4,5,6,9]].fillna("연령")

         2023  매우만족    만족    미흡  불만족   기타
연령
20-29세   6552   5.6  76.2  14.5  3.0  0.8
30-39세   9473   6.0  78.7  12.6  2.3  0.3
40-49세  10940   6.2  77.6  13.0  2.5  0.6
50-59세  11718   4.3  73.0  19.2  2.9  0.6
60세 이상  11334   3.6  68.0  24.1  3.3  1.0